nvim
tmux/plugins
tmuxinator
yarn
github-copilot
simple-update-notifier
nodemon.json
nvm
gh/hosts.yml
BraveSoftware
discord
Electron
go
libaccounts-glib
libreoffice
nvim.bar2
obs-studio/logs
obsidian
Postman
spotify/Users
